name: release

on:
  push:
    tags:
    - '*'
  workflow_dispatch:

jobs:
  release:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: configure
      run: cmake --preset release-win32 "-DSERVER_ADDRESS=${{ secrets.SERVER_ADDRESS }}" "-DSERVER_PORT=${{ secrets.SERVER_PORT }}"
    - name: build
      run: cmake --build --preset release-win32
    - name: release
      if: startsWith(github.ref, 'refs/tags/')
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/src/Release/*.dll,build/src/Release/*.exe"
        allowUpdates: true
    - name: upload artifacts
      if: ${{ !startsWith(github.ref, 'refs/tags/') }}
      uses: actions/upload-artifact@v4
      with:
        name: kinoko-client
        path: build/src/Release/
